* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-family: Helvetica, sans-serif;
    background-color: tomato;
}

#app {
    width: 85%;
    height: 95%;
    display: flex;
}

a {
    color: inherit;
}
h2, h3 {
    font-weight: normal;
}

.top-bar {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.icon-set {
    font-size: 2rem;
    color: #b1b1b1;
}
.icon-set i {
    margin-right: 15px;
}




aside {
    width: 500px;
    /* min-height: 0; */
    border-right: 1px solid #d1cfcf;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 450px;
    overflow-x: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 490px;
    overflow-x: hidden;
}

/* aside */
.top-bar {
    height: 100px;
}
.notification-banner {
    height: 110px;
}
.search-line {
    height: 75px;
}
.contacts {
    flex: 1;
    flex-basis: 0;
    /* max-height: 100%; */
    overflow: auto;
    color: #000;
}

/* main */
.main.top-bar {
    height: 100px;
}

.messages {
    flex: 1;
    flex-basis: 0;
    overflow: auto;
}

.typing-line {
    height: 100px;
}


/* ....................... */


.top-bar img {
    height: 80%;
    border-radius: 50%;
}

.app-user {
    height: 100%;
    display: flex;
    align-items: center;
}

/* aside notification b */
.notification-banner {
    background-color: #76DCFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bell-icon {
    font-size: 2rem;
    color: #76DCFF;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}
.notification-text {
    padding-left: 8px;
}
.notification-text h3 {
    margin-top: 5px;
    color: #757575;
}

/* aside search line */
.search-line {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    position: relative;
}
.search-line input {
    flex: 1;
    height: 100%;
    border: none;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 1.2rem;
    padding-left: 50px;
}

/* contacts */
li {
    list-style: none;
}

ul.contacts-list {
    height: 100%;
    overflow-y: auto;
}

.contacts li {
    height: 110px;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.contacts li:hover {
    background-color: #fafafa;
}
.contacts li:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}
.contacts img {
    height: 100%;
    border-radius: 50%;
    margin-right: 20px;
}




/* main */

/* main top  bar */

.user-active {
    height: 100%;
    display: flex;
    align-items: center;
}
.user-active p {
    margin-top: 4px;
    color: #757575;
}
.user-active img {
    margin-right: 15px;
}


/* main messages */
.messages {
    background-image: url('../img/mine.jpg');
}


/* main typing line */
.typing-line {
    background-color: #F4EEE9;
    padding: 20px;
    display: flex;
    align-items: center;
}

.typing-line i {
    font-size: 2rem;
    color: #757575;
}

.typing-line input {
    flex: 1;
    margin: 0 25px;
    height: 100%;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 10px;
}

/* main user conversation */
.user-conversation {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.user-conversation li {
    width: max-content;
    max-width: 450px;
    padding: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}
p.message-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
span.message-date {
    font-size: 0.8rem;
    min-width: 150px;
    text-align: right;
    color: #757575;
}

.sent {
    align-self: flex-end;
    background-color: #DDF8C6;
}

.received {
    align-self: flex-start;
    background-color: #fff;
}






.icon-wrapper {
    position: absolute;
    left: 5%;
    font-size: 1.4rem;
    color: #b1b1b1;
}



.context-menu {
    position: absolute;
    right: 10px;
    top: 28px;
    background-color: #fafafa;
    border-radius: .5rem;
    z-index: 2;
}
.context-menu li {
    color: #757575;
}
.context-menu li:hover {
    color: #000;
    cursor: pointer;
}


.open-menu {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    display: none;
}

.user-conversation li:hover .open-menu {
    display: block;
}


/* last message */

.contact-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.last-message-text {
    color: #757575;
    font-style: italic;
    overflow: hidden;
    max-height: 1.3rem;
    max-width: 400px;
}

.last-message-date {
    color: #757575;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0.8rem;
}